/target/classes/sample/Controller.class
/target/classes/readFile/ReadFile.class
/target/*

*.iml
misc.xml
/dicTemp/*
/dicTemp
/postingFiles/*
/postingFiles
/.idea/libraries/Maven__commons_io_commons_io_2_6.xml
